body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #df9c62, #ca447a);
  color: white;
  text-align: center;
}

.hero {
  padding: 60px 20px;
  position: relative;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  text-align: left;
}

.card h2 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
}

.card p, .card ul {
  font-size: 14px;
  line-height: 1.5;
  color: #ddd;
}

.card ul {
  padding-left: 20px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #eee;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

.navbar {
 padding: 10px 0;
 text-align: center;
}

.navbar ul {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 gap: 30px;
}

.navbar a {
 text-decoration: none;
 color: white;
 font-weight: none;
 font-size: 16px;
 transition: color 0.3s ease;
}

.navbar a:hover {
 color: #ffd700;
}

.aboutme {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: linear-gradient(to right, #fefdfd #e498b6)
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  transition: background-color 0.3s ease;
}

  .skill {
   max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: linear-gradient(to right, #fdfbfb #e498b6)
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  transition: background-color 0.3s ease;
  align-items: center;
  width: 100%;
  }

  .skill ul {
    text-align: left;
  }

  .popup-img {
    width: 200px;
    cursor: pointer;
  }

.popup-container {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
 align-items: center;
 z-index: 999;
}

.popup-container img {
 max-width: 90%;
 max-height: 90%;
 border-radius: 10px;
}
